<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <script src="{{url_for('static', filename='recorder.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <div>
      <h1>मराठी भाषा उच्चार ओळख</h1>
      <div>
        <h1>प्रश्न</h1> {% if transcript != "" %} <span style="font-size: 200px;">{{ number }} &times {{ times }} = {{ transcript }} {% endif %} </span>
      </div>
      <hr>
      <h3>ऑडिओ रेकॉर्ड करा आणि उत्तर सत्यापित करा</h3>
    <div>
    <button id="recordButton">बोलणे</button>
        <br>
    <button id="stopButton">उत्तर तपासा</button>
    </div>
    </div>
  </div>
  </body>
</html>